
upstream discord-cdn {
    server cdn.discordapp.com:443;
    keepalive 5;
}

server {
    listen 80;

    location / {
        proxy_set_header Authorization "${AUTHORIZATION_HEADER}";
        proxy_pass ${OSU_BEATMAP_API_URL}/;
    }

    location /discord-cdn/ {
        deny all;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Host       "cdn.discordapp.com";
        proxy_pass https://discord-cdn/;
    }
}
